@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:rgb(150, 147, 147);
  background-image:
    radial-gradient(at 10% 90%, hsla(212, 95%, 45%, 0.2) 0px, transparent 50%),
    radial-gradient(at 90% 10%, hsla(285, 95%, 45%, 0.2) 0px, transparent 50%),
    radial-gradient(at 50% 50%, hsla(180, 95%, 45%, 0.1) 0px, transparent 50%);
  
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #818cf8;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 #18181b;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #818cf8;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 #18181b;
} 